/* import Google fonts */
@import url('https://fonts.googleapis.com/css?family=Cinzel|Merriweather|Open+Sans&display=swap');
/* Use Serif font for titles - Merriweather, and Sans-Serif for content - Open Sans. */

body {
    background-color: #96A372;
    /* Default fonts and colours for content not covered by other elements. */
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
}

/* Set the heading styles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 2.5em;
    /* Give some space between the header container and the h1 element */
    padding: 1.1rem;
    color: #BEA180;
    display: inline-block;
}

h2 {
    font-size: 1.5625em;
    color: #FFFFFF;
    padding: 1.25rem 0 1.25rem 0;
    text-align: center;
    letter-spacing: 0.125em;
    text-transform: uppercase;
}

h3 {
    font-size: 1.25em;
    margin:  0.625rem 0 1.25rem 1.25rem;
}

p {
    padding: 0 1.25rem 1.25rem 1.25rem;
}

main ul, ol {
    padding: 1.25rem;
}

main ul {
    list-style-type: disc;
}

main ol {
    list-style-type: decimal;
}

main li {
    margin-left: 3.75rem;
}

.wrapper {
    width: 65%;
    /* margin: TOP/BOTTOM left/right */
    margin: 0 auto;
}

header {
    background-color: #38353C;
    /* Give some space from the top of the page. ****  Might not be needed ***** */
    height: 4.6875rem;
    /* Keep the header from scrolling. */
    position: -webkit-sticky; /* Needed for Safari (iPhones etc.) */
    position: sticky;
    top: 0;
}

/* Logo */
header p {
    font-family: 'Cinzel', serif;
    font-size: 2.5em;
    color: #CC6600;
    display: inline-block;
    padding: 0.25rem;
    border: 0.3125rem ridge #BEA180; /* Should this be relative? */
    margin: 0.5rem 0.5rem;
    float: left;
}

header p a, header p a:visited, header p a:hover {
    text-decoration: none;
    color: #CC6600;
}

nav {
    /* margin-top = header height (180) - h1 height (70) - nav height. */
    /* position: absolute; */
    margin-right: 0.5rem;
    padding: 1.84375rem 0;
    display: inline-block;
    float: right;
}

/* Navigation */
nav ul {
    list-style-type: none;
    /* background-color: #008B8B; */
}

nav ul li {
    display: inline;
    /* background-color: #ADFF2F; */
}

nav ul li a {
    /* set dark brown as a background */
    text-decoration: none;
    padding: 0.9375rem 0.625rem;
    color: #FFFFFF;
    background-color: #804000;
}

nav ul li a:visited {
    color: #FFFFFF;
    background-color: #804000;
}

nav ul li a:hover {
    color: #804000;
    background-color: #BEA180;
}

/* current page nav links */
nav a.current-page {
    color: #BEA180;
}

nav a.current-page:visited {
    color: #BEA180;
}

nav a.current-page:hover {
    color: #804000;
    background-color: #BEA180;
}

.hero-content {
    background-image: url(../images/churchill-house-14.jpg), url(../images/churchill-house-13.jpg), url(../images/churchill-house-16.jpg);
    height: 18.75rem;
    background-repeat: no-repeat;
    background-size: 33% 100%;
    background-position: left bottom, center bottom, right bottom;
    background-color: #38353C;
}

.hero-content.about {
    background-image: url(../images/churchill-house-19.jpg);
}

/* info about the Robin Boyd Foundation */
.hero-content-the-architect {
    background-image: url(../images/boyd-logo.svg);
    background-color: #FFFFFF;
    background-size: contain;
    height: 6.25rem;
    display: block;
    background-repeat: space;
}

main {
    background-color: #808000;
    line-height: 1.5625em;
}

footer {
    background-color: #38353C;
}

/* Target the footer */
footer p {
    font-size: 1em;
    color: #BEA180;
    padding: 1.25rem 0;
    text-align: center;
}

img {
    max-width: 58.75rem;
}

.image-box {
    border: 0.0625rem solid #FFFFFF;
    padding: 1.25rem;
    float: left;
    margin-right: 1.25rem; 
}

.image-box-left {
    border: 0.0625rem solid #FFFFFF;
    padding: 1.25rem;
    float: left;
    /* margin-right: 1.25rem; */
    margin: 1.25rem;
}

.image-box-right {
    border: 0.0625rem solid #FFFFFF;
    padding: 1.25rem;
    float: right;
    /* margin-right: 1.25rem; */
    margin: 1.25rem;
}

.image-box img, .image-box-right img, .image-box-left img {
    max-height: 18.75rem;
}

.image-box p, .image-box-right p, .image-box-left p {
   text-align: center; 
}

/* default link styles */

a {
    color: #000000;
}

a:visited {
    color: #BEA180;
}

a:hover {
    color: #804000;
}

/* a:active {
    color: #FF8000;
} */

.column {
    width: 30%;
    background-color: #FF0000;
    float: left;
}

.column:not(:first-child):not(:last-child) {
    margin: 0 0.625rem;
    background-color: #00FF00;
}

/* .column.middle {
    margin: 0 10px;
} */

.last-word, .clear-float {
    clear: both;
}

/* Media query for phones. */
@media screen and (max-device-width: 414px) {
    .wrapper {
        width: 100%;
    }
    
    .image-box-left img, .image-box-right img {
        max-height: 100%;
    }
    
    .hero-content {
        background-image: url(../images/churchill-house-16.jpg);
        height: 18.75rem;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: left bottom;
        background-color: #38353C;
    }
}

/* Media query for tablets. */
@media screen and (min-device-width:415px) and (max-device-width: 768px) {
    .hero-content {
        background-image: url(../images/churchill-house-13.jpg), url(../images/churchill-house-16.jpg);
        height: 18.75rem;
        background-repeat: no-repeat;
        background-size: 49.5% 100%;
        background-position: left bottom, right bottom;
        background-color: #38353C;
    }
}
