/* import Google fonts */
@import url('https://fonts.googleapis.com/css?family=Merriweather|Raleway:400,400i,700,700i&display=swap');

body {
    background-color: #96A372;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

/* Set the heading styles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 30px;
    margin: 20px 0;
    color: #CBCBCB;
}

h2 {
    font-size: 25px;
    color: #FFFFFF;
    /* border: 1px solid #000000; */
    padding: 20px 0 20px 0;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h3 {
    font-size: 20px;
    margin: 10px 0 20px 0;
}

p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

/* Target the footer */
footer p {
    font-size: 16px;
    color: #D3D3D3;
    padding: 20px 0;
    text-align: center;
}

main ul, ol {
    padding: 20px;
}

main ul {
    list-style-type: disc;
}

main ol {
    list-style-type: decimal;
}

main li {
    margin-left: 60px;
}

.wrapper {
    width: 980px;
    /* margin: TOP/BOTTOM left/right */
    margin: 0 auto;
}

header {
    background-color: #38353C;
    height: 180px;
    position: relative;
}

nav {
    /* background-color: #8E6A41; */
    /* margin-top = header height (180) - h1 height (70) - nav height. */
    /* margin-top: 118px; */
    position: absolute;
    bottom: 20px;
    height: 25px;
}

/* Navigation */
nav ul {
    list-style-type: none;
    /* background-color: #008B8B; */
}

nav ul li {
    display: inline;
    /* background-color: #ADFF2F; */
}

nav ul li a {
    text-decoration: none;
    padding: 15px 10px;
    color: #FFFFFF;
    background-color: #804000;
}

nav ul li a:visited {
    color: #FFFFFF;
    background-color: #804000;
}

nav ul li a:hover {
    color: #556B2F;
    background-color: #BEA180;
}

main {
    background-color: #808000;
    padding: 0 20px;
}

footer {
    background-color: #EE82EE;
    /* height: 25px; */
}

img {
    max-width: 940px;
}

.image-box {
    border: 1px solid #FFFFFF;
    padding: 20px;
    float: left;
    margin-right: 20px; 
}

.image-box img {
    max-height: 300px;
}

.image-box p {
   text-align: center; 
}
/*.main-image {
    max-height: 300px;
    border: 1px solid #000000;
    padding: 20px;
    float: left;
    margin-right: 20px;    
}*/

/* default link styles */

a {
    color: #000000;
}

a:visited {
    color: #FF00FF;
}

a:hover {
    color: #80FF00;
}

a:active {
    color: #FF8000;
}